<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment detail</title>
</head>
<body>
    <p><%= foundApp.patientName %></p>
    <p><%= foundApp.reason %></p>
    <p><%= foundApp.date %></p>
    <p><%= foundApp.doctor.name %></p>
</body>
</html>