<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Appointment Page</title>
</head>
<body>
    <h1>Add an Appointment</h1>
    <form action="/appointments/new" method="post">
        <label for="patientName">Patient Name: </label>
        <input type="text" name="patientName" id="patientName">

        <label for="date">Date: </label>
        <input name="Date" id="Date" type="Date">

        <label for="reason">Reason: </label>
        <input type="text" name="reason" id="reason">

        <label for="doctor">Doctor: </label>
        <input type="doctor" name="doctor" id="doctor">

    </form>
</body>
</html>