<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Appointment Page</title>
</head>

<body>
    <h1>Add an Appointment</h1>
    <form action="/appointments/new" method="post">
        <label for="patientName">Patient Name: </label>
        <input type="text" name="patientName" id="patientName">

        <label for="date">Date: </label>
        <input name="date" id="date" type="date">

        <label for="reason">Reason: </label>
        <input type="text" name="reason" id="reason">

        <select name="doctor" id="doctor">
        <% allDoctors.forEach(doctor=> { %>
        <option value="<%= doctor._id %>">
         <%= doctor.name %> - <%= doctor.specialty %>
        </option>
         <% }) %>
        </select>

        <button type="submit">submit</button>
    </form>
</body>

</html>